{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" media="all" />
		<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
		<title>Cork board</title>	
	</head>
	<body>
			<h1>{{user.username}} Message List</h1>
			<div>
				<nav>
					<ul>
						<li><a style="text-decoration: none" href={% url 'home'%}>Home</a></li>
						<li><a style="text-decoration: none" href={% url 'logout'%}>LogOut</a></li>
					</ul>	
				</nav>
			</div>
	</body>
</html>