<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corkboard</title>
</head>
<body>
     <h1>Post by {{ view.kwargs.username }} </h1>
    <table>
        <tr>
            <th>Message</th>
            <th>Date Posted</th>                   
        </tr>
        
    {% for post in posts %}
        <tr>
            <td>· {{post.text}}</td>
            <td>{{ post.date_posted }}</td>
            {% if user.is_authenticated and user == post.author %}
                    <td>
                           <a href="{% url 'post-delete' post.id %}">Delete</a>
                        
                    </td> 
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    <br>
    <br>
    <div>
        <small> 
            <a href="{% url 'home' %}">Back To Home</a><br>
            <a href="{% url 'post-create' %}">Post a Message?</a>
        </small>
    </div>

</body>
</html>
